<template name="dashboard">
  <div class="container">
      <div class="row">
      <h1>Coming Soon</h1>
        <p>Dashboards: 



    ES Dashboard

      Player  Pos.  Team(s) GP  G A P TOI/60  S/60  Sh% PenD  CF% CF% rel GF% GF% rel Sh% Sv% PDO ZS% ZS% rel EVTOI%  PPTOI%  SHTOI%  QoC TOI%  QoT TOI%

      Standard

        Player  Pos.  Team(s) GP  G A P A1  A2  SP  P1  TOI S Sh% MS  BS  CF  FF  PSR FOW FOL FO% PenDr PenT  PenD  ShB HitF  HitA  HitD  Tk  Gv

      Possession
        Player  Pos.  Team(s) GP  TOI CF  CA  CF% CF% rel FF  FA  FF% FF% rel SF  SA  SF% SF% rel GF  GA  GF% GF% rel Sh% Sh% rel TMSh% Sv% Sv% rel PDO PDO rel

        On-Ice Events

          Player  Pos.  Team(s) GP  TOI GShr  AShr  PShr  SShr  CShr  FShr  SFDist  SFDist rel  SADist  SADist rel  FOW FOL FO% IceDr IceT  IceDr%

    Deployment

      Player  Pos.  Team(s) GP  TOI%  ZS  OZS%  NZS%  DZS%  ZS% ZS% rel OZShr NZShr DZShr

    QoC 
        Player  Pos.  Team(s) GP  TOI%  QoC TOI%  QoC TOI% rel  QoC TOI% F  QoC TOI% F rel  QoC TOI% D  QoC TOI% D rel      

    QoT 
      Player  Pos.  Team(s) GP  TOI%  QoT TOI%  QoT TOI% rel  QoT TOI% F  QoT TOI% F rel  QoT TOI% D  QoT TOI% D rel  Fwd 1 TOI%  Fwd 2 TOI%  Fwd 3 TOI%  Def 1 TOI%  Def 2 TOI%

    Shooting
      Player  Pos.  Team(s) GP  G S MS  BS  CF  FF  Sh% CSh%  FSh%  ON% Miss% Blk%  SDist WrtS  SnpS  SlpS  WrtG  SnpG  SlpG  WrtSh%  SnpSh%  SlpSh%

    Goalies
        Player  Pos.  Team(s) GP  TOI Sv% GA/60 SA/60 FA/60 CA/60 GF/60 GA  SA  FA  CA  SADist  G A P PenDr PenT  PenD

    </p>
      </div>
    </div>
</template>