<template name="glossary">

  {{> expandedGlossary}}
  {{> glossaryTable}}

</template>

<!-- sub templates -->
<template name="glossaryTable">
  
  <div class="container">
    <div class="row">
      {{> reactiveTable collection=ESglossary}}
    </div>
  </div>
  
</template>

<template name="expandedGlossary">
  <div class="container">
      <h1>Detailed Glossary</h1>
      <div class="row">
        <h2>General Concepts</h2>
        <p><h4>Close</h4> Close refers to game situations where the score is tied in any period or within one goal in the first or second periods. This does a pretty good job of removing score effects, which are the result of a team going into a defensive shell or going all-out to score a goal. Close numbers have proven to be a better predictor of future results in some instances than numbers from all game situations.</p>
        <p><h4>Corsi</h4> Corsi is the number of shot attempts by a team or player. In other words, it's the sum of a team or players's goals, shots on net, shots that miss the net, and shots that are blocked. It's used as a proxy for puck possession: since we can't (yet) measure how long a player or team has possession of the puck, we use corsi as an approximation. We're interested in puck possession because you can't score if you don't have the puck (and the team that has puck more often usually wins). For players, we usually measure "on-ice" corsi, or all of their team's shot attempts while they're on the ice.</p>
        <p><h4>Fenwick</h4> Fenwick is the number of unblocked shot attempts by a team or player. It's the same as corsi, but excludes shots that are blocked. It's used because over many games it's a slightly better proxy for possession than corsi. It's not used exclusively instead of corsi mainly because over smaller sample sizes, the larger corsi number is more accurate in reflecting puck possession.</p>
        <p><h4>Relative</h4>  For players, relative stats are how the player's stats compares to the team's stats when the player is not on the ice. For example, if a player has a 52.1% CF% and the team has a 49.6% CF% when that player is not on the ice, the player's relative CF%, or CF% rel, is +2.5%. For percentage stats, like CF% and ZS%, relative stats are stated in percentage points (differences in percentages).</p>
        <p>For a more general overview of advanced hockey statistics, check out SB Nation's introduction to the topic.</p>        
      </div>
    </div>
</template>