<template name="homepage">
  <div class="container">
     <div class="row">
       {{> landing}}
     </div>
  </div>
</template>

<template name="landing">
  <div class="container-full">

        <div class="row">
         
          <div class="col-lg-12 text-center v-center">
            
            <h1>Welcome to Next Skater</h1>
            <p class="lead">A new site -- under major development -- dedicated to NHL analytics.</p>
        
          </div>

          <div class="row">
           <div class="col-lg-12 text-center v-center">
             <h3><a class="btn btn-success btn-large" href="{{pathFor 'contact'}}">Contact Me</a></h3> 
           </div>
          </div>
          
        </div> <!-- /row -->

  </div> <!-- /container full -->

  {{> homepageInfo}}
</template>

<template name="homepageInfo">
  <hr>
  <div class="container">
    
      <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><h3>Work In Progress</h3></div>
              <div class="panel-body">Visit the examples in Nav Bar or below to see the firehose options and table interface.  
              <p>Dashboard will include: Standard, Possession, On-Ice Events, Deployment, QoC, QoT, Shooting and Goalies.</p>
              <ul>
                <li><a href="{{pathFor 'stats'}}">General</a></li>
                <li><a href="{{pathFor 'fullblast'}}">All Even Strength</a></li>
              </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><h3>Thanks</h3></div>
              <div class="panel-body"><p>Props to Rob Vollman, Extra Skater (Darryl Metcalf), Tyler Dellow, Vic Ferrari and many many others who've made this possible. </p>
              <p>See roadmap for goals on how to best seperate these into managable chunks (HT Extra Skater)</p>
              </div>
            </div>
          </div>
      </div>
  </div>
</template>

