<template name="homepage">
  <div class="container">
     <div class="row">
       {{> landing}}
     </div>
  </div>
</template>

<template name="greeting">
  <h2>Welcome to Next Skater</h2>
  <p>Mission: build the best resource for Advanced Stats, focus on Hockey to replace the void left by those who've joined the NHL.</p>
  <p>Props to Robb Vollman, Extra Skater, Tyler Dellow, Vic Ferrari and many many others who've made this possible.</p>
  
  <p>Submit the stats you'd like to see in the app and vote. # TO DO</p>

  <div class="row">
    <div class="container">
      <h3><a class="btn btn-warning btn-large" href="{{pathFor 'contact'}}"><i class="fa fa-heart"></i>  Contact Me</a> and help contribute.  </h3> 
      <p>Looking for lists of stats that would be ideally clumped together. (Basic, Advanced, Team, Player, etc).</p>
      <p>Anything new or original.</p>

    </div>
  </div>
</template>

<template name="landing">
  <div class="container-full">

        <div class="row">
         
          <div class="col-lg-12 text-center v-center">
            
            <h1>Welcome to Next Skater</h1>
            <p class="lead">A new site -- under major development -- dedicated to NHL analytics.</p>
          
          
          </div>

          <div class="row">
           <div class="col-lg-12 text-center v-center">
             <h3><a class="btn btn-warning btn-large" href="{{pathFor 'contact'}}"><i class="fa fa-bolt"></i>  Contact Me</a></h3> 
           </div>
          </div>
          
        </div> <!-- /row -->
      <br><br>

  </div> <!-- /container full -->

  <div class="container">
    
      <hr>
    
      <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><h3>More NHL Stats</h3></div>
              <div class="panel-body">Visit the two examples to see the firehose options and table interface.  Will break this down into managable chunks, add charts asap.
              <p>Dashboard will include: Standard, Possession, On-Ice Events, Deployment, QoC, QoT, Shooting and Goalies.</p>
              <ul>
                <li><a href="{{pathFor 'stats'}}">General</a></li>
                <li><a href="{{pathFor 'fullblast'}}">All Even Strength</a></li>
              </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><h3>Props.</h3></div>
              <div class="panel-body">Props to Robb Vollman, Extra Skater, Tyler Dellow, Vic Ferrari and many many others who've made this possible.
              </div>
            </div>
          </div>
      </div>
  </div>


</template>