<template name="leaderboard">
  <div class="container">
      <div class="row">
      <h1>Coming Soon</h1>
        <p>Leaderboards: 

Best possession teams
Team  5v5 close FF%

Best scoring teams
Team  5v5 close GF%

Most fortunate teams
Team  5v5 PDO

Top outshooting teams
Team  SD/60

Best possession players
Player  5v5 CF%

Best even strength scorers
Player  EV P/60

Best even strength passers
Player  EV SP/60

Toughest competition
Player  QoC TOI%

Most fortunate players
Player  5v5 PDO

Least sheltered players
Player  EV ZS%

Most used players
Player  TOI%

Top PP specialists
Player  PPTOI%

Top SH specialists
Player  SHTOI%

Best shooting players
Player  Sh%

Best penalty drawing players
Player  PenD

Best 5v5 goalies
Goalie  5v5 Sv%
</p>
      </div>
    </div>
</template>