<template name="teams">
  <div class="container">
      <div class="row">
      <h1>Coming Soon</h1>
        <p>Team Stats:  
        TEAM TOTALS (Gross)
  GP  TOI GF  GA  GF% CF  CA  CF% FF  FA  FF% SF  SA  SF% Sh% Sv% PDO
TEAM TOTALS (RATE)
  Team  GP  TOI GF/60 GA/60 GD/60 CF/60 CA/60 CD/60 FF/60 FA/60 FD/60 SF/60 SA/60 SD/60 Sh% Sv% PDO

</p>
<h1>Situational Stats</h1>
<p>TotalsRatesTeam searchDashboardStandardPossessionOn-ice eventsDeploymentQuality of competitionQuality of teammatesShootingGoaliesPlayer searchLeaderboardsReportsOlympicsWJC2010-20112010-2011 Playoffs2011-20122011-2012 Playoffs2012-20132012-2013 Playoffs2013-20142013-2014 PlayoffsAllScore situations– 5 on 5 close– 5 on 5 tied– 5 on 5 leading– 5 on 5 up 1– 5 on 5 up 2+– 5 on 5 trailing– 5 on 5 down 1– 5 on 5 down 2+Even strength– 5 on 5– 4 on 4Power play– 5 on 4Shorthanded– 4 on 5Home– 5 on 5 homeAway– 5 on 5 awayTotal statsRate stats (per 60 min)</p>
      </div>
    </div>
</template>
