<template name="contact">

  <div class="row row-centered">
    <div class="col-xs-12 col-centered">
      <h3 class="text-center">Contact</h3>
    </div>


                      <hr>


      <div class="row">
        <div class="small-12 large-centered columns text-center">
          <p>
            <strong>Email:</strong> de.braid@gmail.com, <strong>Twitter:</strong> <a href="http://twitter.com/Royal_Arse">@Royal_Arse</a>, <strong>Homepage:</strong><a href="www.cacheflow.ca"> Cache Flow</a>
          </p>
        </div>
      </div>

  </div>


</template>