<template name="contact">
  <div class="container-full">

        <div class="row">
         
          <div class="col-lg-12 text-center v-center">
            
            <h1>Contact</h1>
            <p class="lead"><strong>Email:</strong> de.braid@gmail.com, <strong>Twitter:</strong> <a href="http://twitter.com/Royal_Arse">@Royal_Arse</a>, <strong>Homepage:</strong><a href="www.cacheflow.ca"> Cache Flow</a></p>
          
          
          </div>

          
          
        </div> <!-- /row -->
      <br>

  </div> <!-- /container full -->
</template>