/*********************************************************************************/
/* NAVBAR                                                                        */
/*********************************************************************************/
.navbar {
  background-color: #ffdf00;
}

.navbar a {
  font-weight: 500;
  letter-spacing: 2px;
}

/* GENERAL NAV BAR TEXT */
.navbar-default .navbar-brand,
#navbar-collapse > ul > li > a {
  color: #0072bb; 
}

.navbar-default .navbar-brand,
.navbar-right {
  text-transform: uppercase;
}


#navbar-collapse > ul > li > a:hover {
  color: #f99621;
  background-color: #0072bb;
}

#navbar-collapse > ul:nth-child(n) > li.dropdown.open {
  color: #f99621;
  background-color: #0072bb;
}

.dropdown-menu {
  background-color: #82c13f !important;
}

