<template name="nav">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{pathFor 'homepage'}}">
      Next Skater</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        {{> basicStatsMenu}}
        {{> examplesStatsMenu}}
        {{> roadmap}}
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a id="contact-button"  href="{{pathFor 'contact'}}">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</template>

<template name="basicStatsMenu">
  <li class="dropdown">
    <a href="{{pathFor 'stats'}}" class="dropdown-toggle" data-toggle="dropdown">Full Stat List<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="{{pathFor 'stats'}}">Main</a></li>
      <li><a href="{{pathFor 'fullblast'}}">Even Strength</a></li>
      <li><a href="{{pathFor 'homeroad'}}">Home Road Splits</a></li>
    </ul>
  </li> <!-- end dropdown 1 -->
</template>

<template name="examplesStatsMenu">
  <li class="dropdown">
    <a href="{{pathFor 'stats'}}" class="dropdown-toggle" data-toggle="dropdown">Examples<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="{{pathFor 'generic'}}">Generic</a></li>
      <li><a href="{{pathFor 'possession'}}">Possession</a></li>
      <li><a href="{{pathFor 'oniceevents'}}">On Ice Events</a></li>
      <li><a href="{{pathFor 'deployment'}}">Deployment</a></li>
    </ul>
  </li> <!-- end dropdown 1 -->
</template>

<template name="roadmap">
  <li class="dropdown">
    <a href="{{pathFor 'stats'}}" class="dropdown-toggle" data-toggle="dropdown">Roadmap<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="{{pathFor 'dashboard'}}">Dashboard</a></li>
      <li><a href="{{pathFor 'leaderboard'}}">Leaderboard</a></li>
      <li><a href="{{pathFor 'teams'}}">Teams</a></li>
      <li><a href="{{pathFor 'glossary'}}">Glossary</a></li>
    </ul>
  </li> <!-- end dropdown 1 -->
</template>