<template name="nav">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{pathFor 'homepage'}}">
      Next Skater</a>
      <a class="" href="{{pathFor 'stats'}}">
      Stats</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        {{> basicStatsMenu}}
        <!-- {{> advancedStatsMenu}} -->
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a id="contact-button"  href="{{pathFor 'contact'}}">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</template>

<template name="basicStatsMenu">
  <li class="dropdown">
    <a href="{{pathFor 'stats'}}" class="dropdown-toggle" data-toggle="dropdown">Stats<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="{{pathFor 'stats'}}">Basic</a></li>
      <!-- <li><a href="{{pathFor 'advanced'}}">Advanced</a></li> -->
    </ul>
  </li> <!-- end dropdown 1 -->
</template>
